.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.label {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: 'Pretendard-Regular';
}
